.video {
    position: relative;
    height: 100%;
    overflow: hidden;
}
  
#bgVideo {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.content {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    z-index: 1; /* Убедитесь, что контент выше фона */
    color: white;
    text-align: center;
    display: flex; /* Для центрирования текста */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.container > p {
    font-size: 20px;
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    font-size: 18px;
    padding: 0 30px;
    border-right: 1px solid white;
}

.num {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
