
.relativeHeader{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #020213;
}
.absoluteHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #00081498;
}

.containers {
    position: relative;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    max-width: 200px;
    width: 100%;
}

.logo img {
    width: 80px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
}

.item {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 1;
    text-decoration: none;

}

.item:hover {
    text-decoration: underline;
}



.call {
    font-size: 24px;
    background-color: red !important;
}

.call img{
    width: 20px;
    margin-right: 5px;
}



.burger_block {
    display: none;
}

.n {
    display: none;
}

.menu {
    display: none;
    width: 60px;
}

.close {
    display: none;
    width: 50px;
    z-index: 100;
}


/* MEDIA */
@media (max-width: 992px) {

    .containers {
        height: 70px;
    }
    .logo img {
        width: 60px;
    }
    
    .burger_block {
        background-color: #010d1e;
        width: 90%;
    }



    .close_nav {
        display: none;
    }

    .menu {
        display: block;
        width: 50px;
    }

    .close {
        display: block;
        width: 40px;
    }


    .burger_block {
        display: flex;
        background-color: #010d1ef1;
        height: 600px;
        border-radius: 20px;
        width: 400px;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
    }

    .nav {
        height: 100%;
        width: 100%;
        justify-content: center;
        gap: 60px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .containers {
        height: 60px;
    }

    .logo img {
        width: 50px;
    }
    
    .burger_block {
        background-color: #010d1e;
        width: 90%;
    }

    .menu {
        width: 40px;
    }
    .close {
        width: 30px;
    }
}