
.news {
  flex-grow: 1;
  padding: 50px 0;
  background-color: #020213;
}

.title {
  margin-bottom: 50px;
  font-size: 40px;
  color: white;
}

.box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,2fr);
}



@media (max-width: 1200px) {
  .box {
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
  }
  .date button {
    width: 160px;
    font-size: 16px;
  }

}
@media (max-width: 992px) {
  .section {
    max-width: 320px;
  }
}
@media (max-width: 768px) {

  .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}


