
.relativeHeader{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #020213;
}
.absoluteHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #00081498;
}

.containers {
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    max-width: 200px;
    width: 100%;
}

.logo img {
    width: 80px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 1;
    /* text-shadow: 
        0 0 10px#FF2400,
        0 0 20px#FF2400,
        0 0 40px#FF2400,
        0 0 80px#FF2400; */
    /* text-shadow: 
        0 0 10px rgb(205, 54, 54),
        0 0 20px rgb(205, 54, 54),
        0 0 40px rgb(205, 54, 54),
        0 0 80px rgb(205, 54, 54); */
}

btn {
    font-size: 24px;
}



.burger_block {
    display: none;
}

.n {
    display: none;
}

.menu {
    display: none;
}

.close {
    display: none;
    width: 50px;
    z-index: 100;
}


/* MEDIA */
@media (max-width: 992px) {
    .close_nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .close {
        display: block;
    }


    .burger_block {
        display: flex;
        background-color: #010d1ef1;
        height: 600px;
        border-radius: 20px;
        width: 400px;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
    }

    .nav {
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        gap: 20px;
        flex-direction: column;
    }
}